/*===================================GENERAL===================================*/
:root {
  --color-main: #64646A;
  --color-dark: #1B1B1D;
  --color-white: #ffffff;
  --color-header-bg: #EEEFF1;
  --color-main-bg: #F3F4F5;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 24px;
  color: var(--color-main);
  line-height: 1.46;
  font-weight: 400;
  background: linear-gradient(173.34deg, #FFFFFF -0.11%, #FFFFFF -0.11%, rgba(243, 244, 245, 0.2) 11.63%, #F3F4F5 27.81%, rgba(243, 244, 245, 0) 44.68%, rgba(243, 244, 245, 0.68) 60.31%, #F3F4F5 79.06%, #FFFFFF 99.89%);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.image-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-center img {
  max-width: 100%;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-white);
  background: var(--color-dark);
  border-radius: 126px;
  padding: 20px 40px;
  font-size: 18px;
  line-height: 1.66;
}

.button:hover {
  background: var(--color-main);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: var(--color-dark);
}

h1,
.h1 {
  font-size: 124px;
  line-height: 1.13;
  font-weight: 800;
}

h2,
.h2 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.09;
}

h3,
.h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
}

.text-middle {
  font-size: 30px;
  line-height: 1.33;
}

.text-small {
  font-size: 20px;
  line-height: 1.4;
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}


/*------------------------------general-adaptive-------------------------------*/
@media (max-width: 991px) {
  body {
    font-size: calc(18px + 6 * (100vw - 320px) / 1270);
  }

  .button {
    font-size: calc(14px + 4 * (100vw - 320px) / 1270);
  }

  .h1 {
    font-size: calc(60px + 64 * (100vw - 320px) / 1270);
  }

  .h2 {
    font-size: calc(36px + 28 * (100vw - 320px) / 1270);
  }

  .h3 {
    font-size: calc(26px + 14 * (100vw - 320px) / 1270);
  }

  .text-middle {
    font-size: calc(18px + 12 * (100vw - 320px) / 1270);
  }

  .text-small {
    font-size: calc(16px + 4 * (100vw - 320px) / 1270);
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

/*===================================header===================================*/
.header {
  padding: 24px 0;
  background: var(--color-header-bg);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.header__logo {
  margin-right: 40px;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__menu:not(:last-child) {
  margin-right: 40px;
}

.menu {}

.menu__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 40px;
}

.menu__item {}

.menu__link {
  display: inline-block;
  font-size: 15px;
  color: var(--color-dark);
  font-weight: 500;
  line-height: 1.47;
  padding: 5px 0;
}

.menu__link:hover {
  border-bottom: 1px solid var(--color-dark);
 
}

.header__basket {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  background: var(--color-white);
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.header__basket:hover {
  background-color: #e4e4e6;
}


.header__button-wrapper {
  flex-shrink: 0;

}

.header__button {
  font-size: 15px;
  line-height: 1.73;
  border-radius: 63px;
  padding: 15px 30px;
  max-height: 100%;
}

.header__button:hover {
  background-color: var(--color-main);
}


/*------------burger-menu------------------*/
.header__burger-button {
  position: relative;
  width: 30px;
  height: 18px;
}

.header__burger-button span,
.header__burger-button::before,
.header__burger-button::after {
  content: "";
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  transition: all 0.3s ease 0s;
}

.header__burger-button::before {
  top: 0;
}

.header__burger-button::after {
  bottom: 0;
}

.header__burger-button span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}



/*------------burger-menu-active------------------*/
.header__burger-button._active {
  position: relative;
  z-index: 4;
}
.header__burger-button._active span {
  transform: scale(0) translate(0px, -50%);
}

.header__burger-button._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.header__burger-button._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.header__menu._active {
  position: fixed;
  z-index: 2; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  padding: 70px 30px 30px 30px;
  overflow: auto;
}

.header__menu._active>.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__menu._active>.menu__list>li:not(:last-child) {
  margin-bottom: 20px;
}

.header__menu._active .menu__link {
  font-size: calc(20px + 9 * (100vw / 1645));
  color: #404242;
}


 .menu__plug._active {
  display: block;
  content: "";
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--color-white);
}


/*------------------------------header-adaptive-------------------------------*/
@media (max-width: 991px) {
  .menu__list {
    column-gap: 20px;
  }

  .header__button {
    font-size: calc(12px + 3 * (100vw - 320px) / 1270);
  }
}

@media (max-width: 767px) {
  .header {
    padding: 10px 0 0 0;
  }

  .header__container {
    padding-bottom: 60px;
  }

  .header__button-wrapper {
    position: absolute;
    text-align: center;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
}

/*===================================main===================================*/
.main {}


/*----------------------start----------------------*/
.start {
  padding-top: 99px;
  padding-bottom: 131px;
  background: var(--color-header-bg);
}

.start__container {
  position: relative;
  padding-top: 31px;
  padding-bottom: 31px;
}

.start__container::after {
  position: absolute;
  content: "";
  top: -304px;
  left: -216px;
  width: 572px;
  height: 788px;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0.25;
  filter: blur(250px);
  border-radius: 90%;
  pointer-events: none;
}

.start__container::before {
  content: "";
  position: absolute;
  background: url("../img/start/bg.png") center/contain no-repeat;
  top: 0px;
  right: -16px;


  width: 56%;
  height: 100%;
}

.start__header {
  position: relative;
  max-width: 597px;
}

.start__title {
  margin-bottom: 30px;
}

.start__text {
  margin-bottom: 60px;
  max-width: 530px;
}

.start__buttons {
  position: relative;

}

.start__button {
  margin-right: 30px;
}

.start__button-link {
  color: var(--color-dark);
  background: none;
  border-radius: 0;
  padding: 0;
  border-bottom: 1px solid var(--color-dark);
}

.start__button-link:hover {
  background: none;
}

/*-----------------start-adaptive------------------*/
@media (max-width: 1100px) {
  .start {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .start__container::before {
    background-position: center right;
    background-size: auto 80%;
  }
}

@media (max-width: 991px) {
  .start {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .start__header {
    max-width: 400px;
  }
}

@media (max-width: 767px) {
  .start__container::before {
    opacity: 0.2;
  }
}


/*----------------------explore----------------------*/

.explore {
  padding-top: 156px;
  margin-bottom: 190px;
  background: url("../img/explore/bg.png") 0 60px no-repeat;
}

.explore__container {}

.explore__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 90px;
}

.explore__title {
  margin-bottom: 24px;
}

.explore__text {
  max-width: 604px;
}

.explore__list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.explore__item {
  width: calc(100% / 3);
}

.explore-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
  background: linear-gradient(152.09deg, var(--color-white) 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 30px 60px rgba(163, 168, 179, 0.15));
  border-radius: 24px;
}

.explore-card__head {
  text-align: left;
  margin-bottom: 60px;
}

.explore-card__title {
  margin-bottom: 8px;
}

.explore-card__body {
  text-align: center;
}

.explore-card__image {
  margin-bottom: 60px;
}

.explore-card__button {
  width: 225px;
  padding-right: 0;
  padding-left: 0;
}


/*-----------------explore-adaptive------------------*/
@media (max-width: 991px) {
  .explore {
    padding-top: 70px;
    margin-bottom: 90px;
  }

  .explore__list {
    flex-direction: column;
  }

  .explore__item {
    margin-bottom: 20px;
    width: 100%;
  }

  .explore-card__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .explore-card__image {
    margin-bottom: 0px;
  }

}

@media (max-width: 575.98px) {
  .explore-card__body {
    flex-direction: column;
  }

  .explore-card__image {
    margin-bottom: 30px;
  }
}



/*-----------------order-----------------*/
.order {
  margin-bottom: 170px;
}

.order__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 78px;
  padding-bottom: 58px;
}

.order__container::before {
  position: absolute;
  content: "";
  background: url("../img/order/bg.png") no-repeat;
  background-size: auto 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -85px;
}

.order__body {
  max-width: 512px;
  position: relative;
}

.order__title {
  margin-bottom: 30px;
}

.order__text {
  margin-bottom: 60px;
}

.order__button {}

/*-----------------order-adaptive------------------*/
@media (max-width: 1100px) {
  .order__container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .order {
    margin-bottom: 100px;
  }

  .order__container::before {
    background-size: auto 90%;
    background-position: left center;
  }
}

@media (max-width: 767px) {
  .order__container::before {
    opacity: 0.2;
  }
}

/*-----------------best------------------*/

.best-product {
  position: relative;
  margin-bottom: 200px;
}

.best-product__container {}

.best-product::before {
  content: "";
  background: url("../img/best/bg.png") top right no-repeat;
  position: absolute;
  top: -171px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
}

.best-product__head {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 178px;
}

.best-product__title {
  margin-bottom: 24px;
}

.best-product__text {
  max-width: 604px;
}

.best-product__list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.best-product__item {
  width: calc(100% / 3);
}

.product-card {
  height: 100%;
  padding-top: 40px;
  background: linear-gradient(142.42deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-card__head {
  display: flex;
  min-height: 212px;
}

.product-card__image {
  position: absolute;
  top: -78px;
}

.product-card__title-wrapper {
  padding-left: 202px;
}

.product-card__rating {}

.product-card__title {}

.product-card__body {
  padding: 0 30px 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card__text {
  margin-bottom: 40px;
}

.product-card__prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  font-weight: 500;
  font-size: 30px;
  line-height: 0.93;
  color: #1B1B1D;
}


/*-----------------best-adaptive------------------*/

@media (max-width: 1200px) {
  .best-product {
    margin-bottom: 100px;
  }

  .best-product__list {
    flex-direction: column;
  }

  .best-product__item {

    width: 100%;
  }

  .best-product__item:not(:last-child) {
    margin-bottom: 80px;

  }

  .product-card {
    flex-direction: row;
  }

  .product-card__body {
    min-height: 212px;
    width: 100%;
  }

  .product-card__prices {
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .best-product__head {
    margin-bottom: 120px;
  }

  .product-card {
    flex-direction: column;
  }

  .product-card__head {
    min-height: 212px;
  }

  .product-card__body {
    padding: 0 10px 20px;
    min-height: 100%;
  }
}

/*-----------------mobile------------------*/
.mobile {
  position: relative;
  margin-bottom: 219px;
  
}

.mobile::before {
  content: "";
  background: url("../img/mobile/bg-min.png") no-repeat;
  position: absolute;
  top: -150px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
}

.mobile__container {
  padding-top: 176px;
  padding-bottom: 111px;
  background: url("../img/mobile/bg.png") top right/auto 100% no-repeat;
}

.mobile__body {
  max-width: 512px;
}

.mobile__title {
  margin-bottom: 30px;
}

.mobile__text {
  margin-bottom: 60px;
}

.mobile__button {}



/*-----------------mobile-adaptive------------------*/
@media (max-width: 991px) {
  .mobile {
    margin-bottom: 100px;
    background-size: auto 80%;
    background-position: right center;
  }

  .mobile__container {
    padding-top: 100px;
  }

  .mobile__body {
    max-width: 450px;
  }
}

@media (max-width: 767px) {
  .mobile {
    background: none;
  }

  .mobile::before {
    opacity: 0.4;
  }

  .mobile__container {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .mobile__body {
    max-width: 100%;
  }
}


/*-----------------reviews------------------*/
.reviews {
  position: relative;
  margin-bottom: 210px;
}

.reviews::before {
  content: "";
  background: url("../img/reviews/bg.png") no-repeat;
  position: absolute;
  top: -423px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
}

.reviews::after {
  content: "";
  background: url("../img/reviews/bg_bottom.png") no-repeat;
  position: absolute;
  width: 202px;
  height: 540px;

  right: 0px;
  bottom: -175px;

  pointer-events: none;
  filter: drop-shadow(-35px 36px 100px rgba(107, 115, 123, 0.2));
}

.reviews__container {
  display: flex;
  position: relative;
}

.reviews__list {
  position: relative;
  top: 0;
  left: -300px;
  display: flex;
}

.reviews__item:not(:last-child) {
  margin-right: 35px;
}

.reviews-card {
  max-width: 468px;
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(142.42deg, var(--color-white) 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 20px 60px rgba(163, 168, 179, 0.15));
}

.reviews-card__foto {
  max-width: 100%;
}

.reviews-card__content {
  padding: 40px;
}

.reviews-card__head {
  display: flex;
  margin-bottom: 32px;
}

.reviews-card__name {
  font-weight: 600;
  line-height: 1.25;
  color: var(--color-dark);
  margin-right: 16px;
}

.reviews-card__stars {}

.reviews-card__star {
  display: inline-block;
}

.reviews-card__text {
  color: var(--color-dark);
  line-height: 1.5;
}

.reviews__body {
  position: absolute;
  max-width: 454px;
  left: 786px;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 99px;
}

.reviews-rating__value {
  font-weight: 600;
  line-height: 1;
  margin-right: 24px;
}

.reviews-rating__star {
  display: inline-block;
}

.reviews__arrows {
  display: flex;
}

.reviews__arrow:not(:last-child) {
  margin-right: 24px;
}



/*-----------------reviews-adaptive------------------*/
@media (max-width: 1200px) {
  .reviews__list {
    position: static;
    margin-right: 100px;
  }

  .reviews__item_invisibly {
    display: none;
  }

  .reviews__body {
    position: static;
  }
}

@media (max-width: 991px) {
  .reviews {
    margin-bottom: 100px;
  }

  .reviews__list {
    margin-right: 50px;
  }

  .reviews__body {
    max-width: 40%;
  }
}

@media (max-width: 767px) {
  .reviews {
    margin-bottom: 50px;
  }

  .reviews::after {
    opacity: 0.1;
  }

  .reviews__container {
    flex-direction: column-reverse;
  }

  .reviews__list {
    margin: auto;
  }

  .reviews__body {
    max-width: 100%;
  }

  .reviews-rating {
    margin-bottom: 40px;
  }

  .reviews__arrows {
    justify-content: center;
    margin-bottom: 30px;
  }
}

/*-----------------footer------------------*/

.footer {
  margin-bottom: 41px;
}

.footer__content {
  display: grid;
  grid-template-columns: 45% 37%;
  row-gap: 90px;
  justify-content: space-between;
  margin-bottom: 70px;
}

.footer__logo {
  margin-bottom: 40px;
  max-width: 60%;
}

.footer__text {}

.footer__contacts {
  padding-top: 20px;
}

.contacts>*:not(:last-child) {
  margin-bottom: 30px;
}

.footer__title {}



.contacts__email,
.contacts__tel {
  display: flex;
  align-items: center;

}

.contacts__email a,
.contacts__tel a {
  color: #64646A;
}

.contacts__email>*:not(:last-child),
.contacts__tel>*:not(:last-child) {
  margin-right: 24px;
}

.contacts__social {
  display: flex;
}

.contacts__social>*:not(:last-child) {
  margin-right: 24px;
}

.footer__search>*:not(:last-child) {
  margin-bottom: 30px;
}

.footer__find {
  display: flex;
}

.footer__find span {
  text-transform: uppercase;
  margin-right: 4px;
  color: #1B1B1D;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
}

.footer__subscribe>*:not(:last-child) {
  margin-bottom: 30px;
}

.footer__input {
  max-width: 413px;
  height: 70px;
  padding: 20px 30px;
  background: #FFFFFF;
  box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
  border-radius: 65px;
  border: none;
}

.footer__input::placeholder {
  font-size: 22px;
  line-height: 1.36;
}

.footer__button {
  max-width: 173px;
  border: none;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  border-top: 1px solid rgba(27, 27, 29, 0.1);
  font-size: 22px;
  line-height: 1.36;
}

.rules {
  display: flex;
}

.rules__terms {
  padding-right: 12px;
  border-right: 1px solid #64646A;
}

.rules__privacy {
  margin-left: 12px;
}



/*-----------------footer-adaptive------------------*/
@media (max-width: 991px) {
  .footer__content {
    grid-template-columns: 45% 45%;
  }
}

@media (max-width: 767px) {
  .footer {
    margin-bottom: 20px;
  }

  .footer__content {
    grid-template-columns: 100%;
    justify-content: center;
    row-gap: 30px;
    margin-bottom: 30px;
  }

  .footer__logo {
    margin-bottom: 20px;
    max-width: 40%;
  }

  .contacts>*:not(:last-child),
  .footer__search>*:not(:last-child),
  .footer__subscribe>*:not(:last-child) {
    margin-bottom: 15px;
  }


  .footer__bottom {
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
  }
}